.container{
    border:2px solid black;
    width:70%;
    height:500px;
    padding:20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:20px;
   
}
.item1,.item2,.item3,.item4{
    border: 1px solid black;
    width:200px;


    
    display:inline-block;
}
img{
    width:100%
}
